<div class="ui middle aligned center aligned grid" style="padding-top:50px;">
  <div>
      <h1 class="text-center title"><a href="/" title="home">BeerNow</a></h1>
      <div class="ui stacked segment">
        <h2>And here's the <%= @limit + 1%> cheapest beer you can buy...</h2>
        <table class="ui celled padded table striped">
          <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Size</th>
            <th>ABV</th>
            <th>Price</th>
            <th>Score</th>
          </tr></thead>
          <tbody>
          <%- @results_sorted.each_with_index do |item, index| -%>
          <tr>
            <td class="single line">
              <a href="#<%= index %>"></a>
              <h4 class="ui center aligned header"><%= index + 1 %></h4>
            </td>
            <td class="single line">
              <h4 class="ui center aligned header"><%= item[:name] %></h4>
            </td>
            <td class="single line">
              <%= item[:size] %>
            </td>
            <td class="right aligned">
              <a class="ui <%= abv_color(item[:abv]) %> circular label"><%= item[:abv] %></a>
            </td>
            <td class="right aligned">
              <a class="ui <%= if item[:on_sale]
                                 'red'
                               else
                                 'teal'
                               end%> tag label">$<%= item[:price] %></a>
            </td>
            <td class="right aligned">
              <%= item[:value_score].to_i %>
            </td>
          </tr>
          <%- end -%>
          </tbody>
        </table>
        <a class="huge ui button fluid" href="/listing/<%= @store.to_s + '/' + (@limit+50).to_s + '/#' + @limit.to_s %>">
          Load More
        </a>
      </div>
  </div>
</div>